.scoreboardContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  overflow: scroll;
  flex-direction: column;
}

.teamsSection {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: center;
  width: 100%;
}

.teamName {
  font-size: 5vw;
  color: #f39c12;
  width: 40%;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.scoreSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.score {
  display: inline-block;
  font-size: 30vw;
  font-weight: 900;
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transform-origin: 0 0;
}

.divider {
  width: 1px;
  height: 50%;
  background-color: #fff;
  margin: 0 10px;
  transform: rotate(20deg);
}

.vs {
  font-size: 5vw;
  width: 10%;
  font-weight: bold;
  color: #e74c3c;
  white-space: nowrap;
  text-shadow: 0 0 10px rgba(231, 76, 60, 0.7);
}
