.infoPage {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;    
}

.header h1 {
    display: flex;
    align-items: center;
    font-size: 3.5em;
}

.headerLogo {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.datetime {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.eventInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    border: 1px solid white;
    padding: 10px;
}

.whatToBringContainer {
    border: 1px solid white;
    padding: 10px;
    border-radius: 8px;
}

.twoColumnList {
    columns: 2;
    column-gap: 20px;
    list-style: none;
    padding: 10px 0;
}

.threeColumnList {
    columns: 3;
    column-gap: 20px;
    list-style: none;
    padding: 10px 0;
}
